header img {
  width: 25%;
}
/* more specific takes precedence*/
nav a {
  text-decoration: line-through;
}
a {
  text-decoration: none;
}
/* more recent takes precedence */
p { color: darkgray; }

h1, h2, h3, h4 { font-family: 'Slabo 27px', serif; font-weight bold; color: Black}
/*
h2 { color: darkgreen}
h3 { color: darkgreen}
h4 { color: black}
*/
/* resize images */
.container img {
    width: 20%;
    height: auto;
}
.addBorder {
  /* creating addBorder class and specifying Thickness, Style, and Color. Note: only Tufts is of the class and will have the border */
  border: 1px solid #000000;
}
/* learning how to use a Box. Note, it's not right yet. Article images 20% after margins and padding. 
.box {
        width: 20%;
        padding: 1em;
        border: 5px solid gray;
        margin: 0;
      } */
p {  
  text-align: left;
}
/* Commenting out the p.left container.
p.left {
    text-align: left;
    color: magenta;
}
*/
#para1, #para2, #para3, #para4, #para5, #para6, #para7 {
    text-align: left;
    color: darkgray;
}
/* commenting out the styles used previously
#para2 {
    text-align: left;
    color: brown;
}
#para3 {
    text-align: left;
    color: blanchedalmond;
}
#para4 {
    text-align: right;
    color: greenyellow;
}
#para5 {
    text-align: center;
    color: green;
}
#para6 {
    text-align: left;
    color: silver;
}
#para7 {
    text-align: right;
    color: crimson;
} 
*/
